.chakra-checkbox {
  cursor: pointer !important;
}

.chakra-checkbox__input:checked ~ .chakra-checkbox__label {
  text-decoration: line-through;
}

.chakra-radio__control {
  display: none !important;
}

.chakra-radio__input:checked ~ .chakra-radio__label {
  color: #3182ce;
}

.chakra-radio__label {
  margin: 0 6px !important;
}
